body{
  background-color: rgb(201, 115, 255);
}

.container{   
padding: 2%;
margin-left: 30%;
margin-right: 30%;
margin-top: 3%;
background-color:rgb(150, 206, 255)
}



.inputField1{
margin-left: 1%;
margin-right: 10%;
}

.inputField2{
  margin-left: 1%;
  }

.button1{
  background-color:rgb(255, 59, 91);
  border: 2px solid white;
  margin-top: 20px;
}

.header{
  text-align: center;
  margin-top: 4%;
 
}

.designingLoginLink{
  background-color: rgb(255, 0, 0);
  color: white;
  text-decoration: none;
  margin-right: 3%;
  padding: 5px;
  border-radius: 10px;
}

.designingSignupLink{
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(255, 0, 0);
}
